name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    name: Lint - node.js ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: |
          npm ci
          npm run lint

  ios-test:
    name: Cordova Paramedic Test - ${{ matrix.os }}, node.js ${{ matrix.node }}
    runs-on: macos-latest
    strategy:
      matrix:
        node: [14.x, 16.x]
        os: [ios]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: |
          ./scripts/setup-${{ matrix.os }}.sh
          ./scripts/paramedic-${{ matrix.os }}.sh
